*{
    background-color: darkmagenta;
}


p{
    color:blueviolet ;
}

.pipoca {
    color:brown;
}

h1{
    color: blue;
    border: 2px  solid grey ;
    text-align: center;
}

.p{
    color: grey;
    border: 2px solid green
    
}

p. fundo{
    background-color: beige;
    #paodequeijo
}
#primeiro_nome{
    background-color: crimson;
    text-align: center;
}
#segundonome{ 
    background-color: blue;
    text-align: center;

}
article h4{
    text-align: center;
    border: 2 px solid indigo;
    font-size: 26 px;
}
